<div id="everythingTracker" class="m-4">
    <h1>Everything Tracker</h1><br>
    <div class="form-group">
        <label for="numDays">Days to Track</label>
        <input id="numDays" type="text" class="form-control rounded input-el" name="numDays">
        <button id="numDaysBtn" type="submit" class="btn btn-primary btn-rounded btn-sm m-4" >Submit</button>
    </div>
    <div id="dayBtnDiv">
        
    </div>

    {{> dayData }}
</div>