<div id="everythingTracker" class="mx-auto mt-4">
    <h1>Everything Tracker</h1><br>
    <div id="daysEntryForm" class="form-group">
        <label for="numDays">Days to Track</label>
        <input id="numDays" type="text" class="form-control rounded input-el" name="numDays">

        <button id="numDaysBtn" type="submit" class="buttons btn btn-primary btn-rounded btn m-2">Submit</button>
    </div>
    <div style="display:none" id="daysAlert" class="alert alert-danger" role="alert">
        Enter the "Days to Track" (at least 1).
    </div>
    <div id="daysEdit">
        <button id="daysEditBtn" type="submit" class="buttons btn btn-primary btn-rounded btn m-2">Edit</button>
    </div>
    <div id="dayBtnDiv" class="row p-4">
        <!-- day# buttons go here -->
    </div>

    {{> dayData }}
</div>