<h1>creating</h1>
<label for="fname">First name:</label><br>
<input type="text" id="fname" name="fname"><br>
<label for="lname">Last name:</label><br>
<input type="text" id="lname" name="lname"><br>
<label for="description">Description:</label><br>
<input type="text" id="description" name="description"><br>
<label for="email">Email:</label><br>
<input type="text" id="email" name="email" value='{{userProfile.displayName}}' readonly><br>
<input id="button" type="submit" value="Submit" onclick="window.location='http://localhost:3000/user'">