<h1>{{userProfile.displayName}}</h1>

<h2>Cats that are not sleepy!</h2>

<input type="button" value="Logout" onclick="window.location='http://localhost:3000/logout'">

<input type="button" value="tracker" onclick="window.location='http://localhost:3000/emi_test'">