#numDaysBtn {
    background-color: #669E3C;
}

.dayBtn {
    border-radius: 0;
    color:#302718;
    background-color: #DED2A8;
    border-color: #FFFFFF;
    background-image:none;
}

.dayBtn:hover {
    color: #302718;
    background-color:#C7AB59;
    border-color: #FFFFFF;
}

.dayBtn:focus {
    box-shadow:0 0 0 .2rem #C7AB59
}

.modal-body {
    overflow: auto;
}

.nav-tabs > a {
    color: #302718;
}

td {
    padding: 4px !important;
}

body{
    background-color: #302718;
    color: white;
}
#imgbg {
    background-repeat: no-repeat;
    position: fixed;
 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0s;
    box-sizing: border-box;
}
.removeMoney, .removeFitness, .removeFood {
    background-color: #699E3C;
}

#modalCloseBtn {
    background-color: #C7AB59;
}


#overlay {
    position: fixed;
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;

    transform: translateX(100%);
    transition: transform 1s ease-in-out;

  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    
  }

  #createPg {
      background-color: #302718;
  }
  #navbar{
    background-color: #C7AB59;   
  }

  #createForm {
      background-color: #C7AB59;
      height: 600px;
      width: 800px;
      display: block;
      margin-top: 120px;
      margin-left: auto;
      margin-right: auto;
  }

  #signup{
      float: right;
      height: 600px;
      width: 400px;
      margin-top: 100px;
      padding-left: 100px;
      color: white;
  }

  .buttons{
        font-weight: bold;
        background-color: #699E3C;
        color: white;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    #dashboard {
        background-color: #DED2A8;
        color: black;
        height: 600px;
        width: 1080px;
        display: block;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }